.color_picker_item {
    margin: 5px;
    padding: 0.5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.color_picker_input {
    border: none;
    background: transparent;
    width: 2em;
    height: 2em;
    margin-left: 1em;
}