* {
    font-family: 'Comic Sans MS', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    /* background: blue; */
}

#zoom {
    cursor: pointer;
    user-select: none;
    position: fixed;
    left: 1em;
    bottom: 1em;
    background-color: #ff73ea;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 3em;
    z-index: 9999;
    border-radius: 5px;
    border-bottom: 7px solid;
}