.text_skeleton {
    position: relative;
    width: max-content;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1em;
    border-radius: 2px;
    color: white;
    /* border: 2px solid black; */
    color: black;
    position: absolute;
    word-break: keep-all;
    white-space: pre-wrap;
}

.color_picker_item {
    margin: 5px;
    padding: 0.5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;

}