.editor_property_item {
  resize: none;
  outline: none;
  width: 100%;
  height: 200px;
  padding: 10px 1em 0;
  background-color: #ff73ea;
  border-radius: 4px;
  border: 2px solid black;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.editor_property_item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
