.skeleton_property {
    position: fixed;
    right: 1em;
    z-index: 9999;
    top: 1em;
    bottom: 1em;
    width: 20%;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    border-left: 5px solid black;
    overflow: auto;
}
.skeleton_property::-webkit-scrollbar {
    width: 0;
    height: 0;
}